@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// ----------------Variables-----------------

$primary-color: #ffb579;
$black: #000734;
$primary: #ffb579;
$text: #878787;
$primary-hover: #ffb579;

// ------------------SignIn.scss------------------
body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
.signin__main__container__content {
  width: 100%;
  // height: 100%;
  min-height: 550px;
  height: fit-content;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}
.signin__main__left {
  height: 100%;
  width: 50%;
  position: relative;
  // border: 1px solid yellow;
}
.signin__main__left__img {
  height: 615px;
  width: 100%;
}
.signin__main__left__img img {
  height: 100%;
  width: 100%;
  // object-fit: contain;
}
.signin__main__left__content {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  padding: 0 1rem;
  flex-direction: column;
  // justify-content:  center;
  align-items: center;
}
.signin__main__left__content__logo {
  margin-top: 2rem;
}

.signin__main__left__content__logo img {
  height: 100px;
}
.signin__main__left__content__logo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signin__main__left__content__logo__container p {
  color: white;
  font-size: 20px;
}
.signin__main__left__content__form {
  height: 60%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.signin__main__left__content__form__input__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.signin__main__left__content__form__title {
  font-size: 40px;
  color: $primary-color;
  // margin-bottom: 2rem;
}
.signin__main__left__content__form__checkbox__container {
  display: flex;
  color: white;
  justify-content: space-between;
  margin: 1em 0;
}
.signin__main__left__content__form__checkbox__forget a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $primary-color;
    transition: all 0.3s ease-in-out;
  }
}

.signin__main__left__content__form__checkbox label {
  margin-left: 0.5rem;
}

.signin__main__left__content__form__signup {
  color: white;
}
.signin__main__left__content__form__button__container {
  margin: 0 auto;
  padding: 1rem 2rem;
}
.signin__main__left__content__form__button__container a {
  color: #2d2d2d;
  height: 2rem;
  width: 4rem;
  padding: 1rem 2rem;
  background-color: $primary-color;
  text-decoration: none;
  border-radius: 25px;
  &:hover {
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
    transition: all 0.3s ease-in-out;
  }
  &:active {
    background-color: $primary-color;
    color: white;
    transition: all 0.3s ease-in-out;
  }
}
.signin__main__left__content__form__button__container button {
  color: #2d2d2d;

  padding: 1rem 2rem;
  background-color: $primary-color;
  text-decoration: none;
  border-radius: 25px;
  border: 1px solid transparent;
  &:hover {
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
    transition: all 0.3s ease-in-out;
  }
  &:active {
    background-color: $primary-color;
    color: white;
    transition: all 0.3s ease-in-out;
  }
}

.signin__main__left__content__form__signup {
  text-align: center;
}
.signin__main__left__content__form__signup a {
  color: $primary-color;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $primary-color;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
  }
}
.signin__main__right {
  height: 100%;
  width: 50%;
}
.signin__main__right__img {
  height: 615px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid rgb(255, 0, 0);
}
.signin__main__right__img img {
  height: 400px;
  width: 400px;
  object-fit: contain;
  // border: 1px solid gold;
}

// -----------signup---------------

.signup__main__left__img {
  height: 900px;
  width: 100%;
}
.signup__main__left__img img {
  height: 100%;
  width: 100%;
}
.signup__main__left__content__form__input__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  // margin-bottom: 1rem;
}
.signup__main__left__content__form {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.signup__main__right__img {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid rgb(255, 0, 0);
}
.signup__main__right__img img {
  height: 400px;
  width: 400px;
  object-fit: contain;
  // border: 1px solid gold;
}
// ------------------------VerificationCode-------------

.user__main__container {
  width: 100%;
  height: fit-content;
  min-height: 600px;
}
.user__main__container__content {
  width: 100%;
  height: 615px;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}
.user__main__left {
  height: 100%;
  width: 50%;
}
.user__main__left__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#profile__main__left__content {
  justify-content: flex-start;
}
#user__main__left__content__logo {
  height: 250px;
  aspect-ratio: 1/1;
  margin-bottom: 1em;
}
.user__main__left__content__logo {
  width: 100px;
  aspect-ratio: 1/1;
}
.user__main__left__content__logo img {
  width: 100%;
  height: 100%;
}
#user__main__left__content__logo img {
  height: 100%;
  width: 100%;
  border-radius: 75px;
  object-fit: cover;
}

.user__main__left__content__form {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.user__main__left__content__form__title {
  font-size: 40px;
  font-weight: 500;
  color: #181d3d;
  margin-bottom: 2rem;
}
#profile__main__left__content__form__title {
  margin: 4rem 0 2rem 0;
}
.user__main__left__content__form__subtitle {
  color: $primary-color;
}
.user__main__left__content__form__input__container input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #262626;
  font-size: 40px;
  font-weight: lighter;
  transition: all 0.3s ease-in-out;

  &:focus {
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid $primary-color;
  }
}
.otp__container input {
  color: $primary;
  border: 1.5px solid #262626;
  &:focus {
    transition: all 0.3s ease-in-out;
    border: 1.5px solid $primary-color;
  }
}
.user__main__left__content__button__container a {
  font-size: 20px;
  background-color: #181d3d;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: transparent;
    color: #181d3d;
    border: 1px solid #181d3d;
    transition: all 0.3s ease-in-out;
  }
}
.user__main__left__content__button__container button {
  font-size: 20px;
  background-color: #181d3d;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: transparent;
    color: #181d3d;
    border: 1px solid #181d3d;
    transition: all 0.3s ease-in-out;
  }
}
.user__main__left__content__resend__button__container a {
  text-decoration: none;
  color: #838488;
  transition: all 0.3s ease-in-out;

  &:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
  }
}
.user__main__right {
  height: 100%;
  width: 50%;
}
.user__main__right__content {
  height: 100%;
  width: 100%;
  position: relative;
}
.user__main__right__content__img {
  height: 100%;
  width: 100%;
}
.user__main__right__content__img img {
  height: 100%;
  width: 100%;
}
.user__main__right__content__logo {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ------------------Upload Profile Picture-------------------
.upload__picture__container {
  width: 50%;
}

.authentication__container__overlay__form__content__receipt__col__row__upload__btn {
  position: relative;
  flex: 1;
  margin-right: 1em;
}
.authentication__container__overlay__form__content__receipt__col__row__upload__btn__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.authentication__container__overlay__form__content__receipt__col__row__upload__btn__content {
  width: 100%;
  background-color: #ffb579c0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  color: white;
  border-radius: 5px;
}
.authentication__container__overlay__form__content__receipt__col__row__upload__btn__content__icon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #ffb579;
}
.authentication__container__overlay__form__content__receipt__col__row__upload__btn__input:hover
  ~ .authentication__container__overlay__form__content__receipt__col__row__upload__btn__content {
  transition: 300ms ease-in-out;
  background-color: #ffb579;
}
.authentication__container__overlay__form__content__receipt__col__row__upload__btn__content:hover {
  transition: 300ms ease-in-out;
  background-color: #ffb579;

  cursor: pointer;
}
.authentication__container__overlay__form__content__receipt__col:last-child {
  width: 40%;
  margin-right: 0em;
  position: relative;
  padding-top: 0.3em;
}
.authentication__container__overlay__form__content__receipt__col__button {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #ffb579c0;

  border: none;
  padding: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: -8px;
  right: -10px;
  cursor: pointer;
}
.authentication__container__overlay__form__content__receipt__col__button:hover {
  transition: 300ms ease-in-out;
  background-color: #ffb579;
}
.authentication__container__overlay__form__content__receipt__col__img {
  width: 100%;
  border-radius: 10px;
}
.authentication__container__overlay__form__content__image__wrapper {
  position: relative;
  width: 50%;
  margin: 0em auto;
}

// -------------Profile---------------------
.profile__left__container {
  width: 48%;
  // border:1px solid #ffb579;
  color: #b2b2b2;
  height: 100%;
}
.profile__right__container {
  width: 48%;
  // border:1px solid #ffb579;
  color: #b2b2b2;
  height: 100%;
}
.profile__left__container__para {
  width: 100%;
  border-bottom: 1px solid #b2b2b2;
  padding: 0.3rem;
  margin: 1.5rem 0;
}

.userProfile__main__left__content__form {
  width: 100%;
  padding: 0 2rem;
  // border:1px solid #ffb579;

  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.userProfile__main__left__content__form__input__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // border:1px solid #ffb579;
  height: 90%;
  width: 100%;
}

// -----------------------Fir__Page--------------------------------

.header {
  width: 100%;
  background-size: cover;
  position: relative;
}
.header__container {
  max-width: 1440px;
  margin: 0 auto;
  z-index: 999;
  padding: 1em 4em;
}
.header__container img {
  width: 100%;
  height: 550px;
}
.wrapper__img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  height: fit-content;
  top: 0;
  left: 0;
  z-index: -1;
}
.header__container__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar__logo img {
  height: 80px;
}
.navabr__entry {
  background-color: transparent;
  color: white;
  font-size: 14px;
  outline: none;
  border: 1px solid transparent;
  padding: 0.5em 1.3em;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  margin: 0em 0.5em;
  cursor: pointer;
  text-decoration: none;
}
.navabr__entry:hover {
  background-color: #ffb579;
  color: black;
}
.navabr__entry__contact {
  margin-left: 2em;
  outline: none;
  border: 1px solid transparent;
  padding: 0.5em 1.3em;
  background-color: #ffb579;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  cursor: pointer;
}
.navabr__entry__contact:hover {
  background-color: transparent;
  color: white;
}
.header__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
}
.header__content__text {
  font-size: 35px;
  font-weight: 700;
  color: #ffb579;
}
.header__form {
  width: 100%;
  height: 100%;
}
.header__form__container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
.header__form__container_data {
  background-color: white;
  padding: 2em;
  // margin: 2em 4em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 90%;
}
.header__form__container_coloumns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__form__container_data__middle {
  padding: 0em 3em;
}

.header__form__container_data__left {
  width: 50%;
  padding: 2em 1em 2em 3em;
}

.header__form__container_data__right {
  width: 50%;
  padding: 2em 3em 2em 1em;
}
.header__form__container_data__left__entry__input {
  width: 100%;
  margin-top: 0.5em;
  padding: 0.8em 1.2em;
  border: 1px solid #f6f6f6;
  border-radius: 15px;
  background-color: #f6f6f6;
  margin-bottom: 1em;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.header__form__container_data__left__entry__input:focus {
  border: 1px solid #ffb579;
}
.header__form__container_data__left__entry__input:hover {
  border: 1px solid #ffb579;
}
.header__form__container_data__left__entry__heading {
  color: rgb(138, 137, 137);
  margin-left: 1em;
  position: relative;
}
.header__form__container_data__left__entry__heading span {
  color: #ffb579;
  position: absolute;
  right: 0;
}
.header__form__container_data__subject__input {
  width: 100%;
}
.header__form__container_data__middle__entry:focus {
  border: 1px solid #ffb579;
}
.header__form__container_data__middle__entry:hover {
  border: 1px solid #ffb579;
}
.header__form__container_data__middle__data__text {
  color: rgb(138, 137, 137);
  margin-left: 1em;
  margin-top: -20px;
  margin-bottom: 20px;
}
.header__form__container_data__middle__entry {
  width: 100%;
  padding: 0.8em 1.2em;
  border: 1px solid #f6f6f6;
  border-radius: 15px;
  background-color: #f6f6f6;
  outline: none;
}
.header__form__container_data__middle__textbox {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 1em;
}
.header__form__container_data__middle__heading {
  color: rgb(138, 137, 137);
  position: relative;
}
.header__form__container_data__middle__heading span {
  color: #ffb579;
  position: absolute;
  right: 1em;
}
.header__form__container_data__middle__heading__textarea {
  width: 100%;
  padding: 0.8em 1.2em;
  margin-left: -15px;
  border-radius: 15px;
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
  margin-top: 20px;
}
.form__submit__button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.form__submit__button__entry {
  padding: 0.7em 2em;
  background-color: #ffb579;
  border: 1px solid #ffb579;
  border-radius: 15px;
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.form__submit__button__entry:hover {
  background-color: #f88e37;
}

// --------------Home---------------
.home__stats {
  position: relative;
  width: 100%;
  background-color: $black;
  padding: 6em 0em;
  display: flex;
  align-items: center;
}
.home__stats__svg {
  position: absolute;
  right: 0px;
  top: -150px;
  height: 500px;
}
.home__stats__content {
  width: 100%;
  max-width: 1440px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0em auto;
  padding: 0em 2em;
  flex-wrap: wrap;
}
.home__stats__content__entry {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 1em;
}
.home__stats__content__entry__heading {
  font-size: 60px;
  margin-right: 0.5em;
  font-weight: bold;
  color: $primary;
}
.home__stats__content__entry__content {
  font-size: 18px;
  width: 100%;
  max-width: 200px;
  color: white;
}
.home__newsletter {
  background: linear-gradient(0deg, #000734 0%, #000000 100%);
}
.home__newsletter__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 0em 2em;
}
.home__newsletter__content__left {
  flex: 1;
}
.home__newsletter__content__left__heading {
  font-size: 45px;
  color: $primary;
  margin-bottom: 0.5em;
}
.home__newsletter__content__left__info {
  font-size: 16px;
  color: $text;
  width: 100%;
  max-width: 500px;
}
.home__newsletter__content__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
}
.home__newsletter__content__right__input {
  display: flex;
  flex-direction: column;
  height: 50px;
  border: 1px solid $text;
  margin-bottom: 1em;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  position: relative;
}
.home__newsletter__content__right__input__field {
  border: none;
  outline: none;
  height: 100%;
  padding: 0em 1em;
  background-color: $black;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}
.home__newsletter__content__right__input:hover {
  border-color: $primary;
  outline: 1px solid $primary;
}
.home__newsletter__content__right__input:checked {
  border-color: $primary;
  outline: 1px solid $primary;
}
.home__newsletter__content__right__input__error {
  position: absolute;
  bottom: -30px;
  color: $primary;
}
.home__newsletter__content__right__input__success {
  position: absolute;
  bottom: -30px;
  color: $primary;
}
.home__newsletter__content__right__button {
  height: 45px;
  padding: 0em 3em;
  background-color: $primary;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.home__newsletter__content__right__button:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
}
.user__landing__container__one {
  height: fit-content;
  min-height: 600px;
  width: 100%;
  position: relative;
}
.user__landing__container__one__img {
  width: 100%;
  height: 900px;
}
.user__landing__container__one__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user__landing__header__wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  transform: translate(-50%, -0%);
  left: 50%;
  height: fit-content;

  z-index: 99;
  max-width: 1440px;
}
.header__comp__wrappper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  transition: all 0.3s ease-in-out;
}
.header__comp__wrappper__active {
  background-color: rgb(0, 0, 0);
  color: rgb(228, 228, 228);
  padding: 0.5em 2em;
  transition: all 0.3s ease-in-out;
}
.user__landing__header__wrapper__logo {
  width: 15%;
}
.user__landing__header__wrapper__logo img {
  height: 80px;
  transition: all 0.3s ease-in-out;
}
.header__logo img {
  height: 60px;
  transition: all 0.3s ease-in-out;
}
.user__landing__header__wrapper__links {
  width: 65%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.user__landing__header__wrapper__link {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1.5rem;
  margin: 12px 0px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}
.header__wrapper__link__active {
  color: black;
}
.user__landing__header__wrapper__profile__link {
  height: 40px;
  width: 40px;
  border-radius: 25px;
  background-color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.user__landing__header__wrapper__profile__link img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.user__landing__header__wrapper__signin__link {
  text-decoration: none;
  color: black;
  background-color: $primary-color;
  border: 1px solid transparent;
  font-size: 14px;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.user__landing__header__wrapper__signin__link:hover {
  color: $primary-color;
  border: 1px solid $primary-color;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.user__landing__header__wrapper__link:hover {
  color: black;
  background-color: $primary-color;
  transition: all 0.3s ease-in-out;
}
.active {
  color: black;
  background-color: $primary-color;
}
.user__landing__header__wrapper__signin {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.user__landing__container__one__wrapper {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;

  // align-items: center;
}
.user__landing__container__one__wrapper__content {
  height: 80%;
  margin-top: 150px;
  width: 50%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  // border: 2px solid white;
  padding-left: 3rem;
}
.user__landing__container__one__preheading {
  font-size: 1.5rem;
  font-weight: bold;
  color: $primary-color;
  margin-bottom: 1rem;
  position: relative;
}
.user__landing__container__one__preheading::after {
  content: "";
  height: 2px;
  background-color: #ffb579;
  width: 20%;
  position: absolute;
  bottom: 12px;
  left: 254px;
  // z-index: 999;
}
.user__landing__container__one__heading {
  font-size: 2.5rem;
  font-weight: bold;

  margin-bottom: 1rem;
}
.user__landing__container__one__button {
  margin: 2rem 0;
}
.user__landing__container__one__button__link {
  text-decoration: none;
  color: black;
  background-color: $primary-color;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;

  transition: all 0.3s ease-in-out;
}
.user__landing__container__one__button__link:hover {
  color: white;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
// .user__landing__container__two {
//   height: fit-content;
//   min-height: 800px;
//   width: 100%;
// }
// .user__landing__container__two__content {
//   height: 100%;
//   width: 100%;
//   max-width: 1440px;
//   margin: 0 auto;
//   padding: 0 2rem;
//   position: relative;
// }
.user__landing__container__two__cards__container {
  display: flex;
  // position: absolute;
  // top: -150px;
  // left: 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2em;
  // border: 1px solid red;
}
// .user__landing__container__two__cards__container__card {
//   width: 300px;
//   height: 200px;
//   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
//   font-size: 1.5rem;
//   font-weight: bold;
//   padding: 1rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   background-color: white;
//   border-radius: 10px;
//   z-index: 999;
// }
.user__landing__container__two__content__main__card {
  width: 100%;
  display: flex;
  margin-top: 3em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  max-width: 1600px;
  margin: 0 auto;
}
.user__landing__container__two__content__main__card__left {
  height: 100%;
  width: 40%;
  position: relative;
}
.user__landing__container__two__content__main__card__left__overlay {
  position: absolute;
  top: 0;
  height: 100%;
  aspect-ratio: 1/1;
  background: #000734a9;
  background: linear-gradient(#000734bb, #ffb579be);
}
.user__landing__container__two__content__main__card__left img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.user__landing__container__two__content__main__card__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.user__landing__container__two__content__main__card__right__preheading {
  font-weight: 500;
  color: $primary-color;
  margin-top: 2rem;
}
.user__landing__container__two__content__main__card__right__heading {
  font-size: 2.5rem;
  font-weight: bold;
  width: 80%;
  position: relative;
}
.user__landing__container__two__content__main__card__right__heading::after {
  content: "";
  height: 2px;
  background-color: #ffb579;
  width: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.user__landing__container__two__content__main__card__right__para {
  margin: 1rem 0;
}
.user__landing__container__two__content__main__card__right__list {
  margin-left: 2rem;
}

.user__landing__container__two__content__main__card__left__card {
  height: 100px;
  width: 120px;
  background: linear-gradient(180deg, #ffd0aa, #fea258);
  position: absolute;
  bottom: -46px;
  left: 488px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.user__landing__container__two__content__main__card__left__card div {
  font-size: 1rem;
  font-weight: normal;
}

.swiper-button-prev::after {
  color: $primary-color;
}
.swiper-button-next::after {
  color: $primary-color;
}
// --------------Contact Us------------------
#contact__us__container__two {
  height: fit-content;
  min-height: 600px;
  width: 100%;
}
#contact__us__preheading::after {
  left: 167px;
}
#contact__us__one__img {
  width: 100%;
  height: 617px;
  object-fit: cover;
}
#contact__us__one__img img {
  width: 100%;
  height: 100%;
}
#contact__us__container__two__main__card {
  top: 50px;
}

textarea {
  resize: vertical;
  width: 100%;
  margin-top: 0.5em;
  padding: 0.8em 1.2em;
  border: 1px solid #f6f6f6;
  border-radius: 15px;
  background-color: #f6f6f6;
  margin-bottom: 1em;
  outline: none;
  transition: all 0.3s ease-in-out;
}
textarea:focus {
  border: 1px solid rgba(1, 62, 177, 0.507);
}
.contact__us__container__two__content__left {
  height: 100%;
  width: 40%;
}
.contact__us__container__two__content__left__heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: $primary-color;
}
.header__form__container_data__right__button {
  color: white;
  padding: 1rem 2rem;
  background: linear-gradient(180deg, #ffd0aa, #fea258);
  border: none;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.header__form__container_data__right__button:hover {
  color: $primary-color;
  border: 1px solid $primary-color;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.contact__us__container__two__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 4em;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.contact__us__container__two__content__right {
  width: 40%;
  height: 100%;
}
.contact__us__container__content__link {
  color: black;
  filter: invert(1);
}
.contact__us__container__two__content__left__contentBox {
  height: 50%;
  width: 100%;
  // border: 1px solid red;
}
.contact__us__container__two__content__left__contentBox__heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.contact__us__container__two__content__left__contentBox__top {
  display: flex;
  flex-direction: column;
  height: 32%;
  margin-bottom: 1em;
}
.contact__us__container__two__content__left__contentBox__email {
  color: #515151;
  text-decoration: none;
  margin-bottom: 0.5em;
}
#contact__us__links {
  width: 25%;
}
// #header__form__data__container{
//   display: flex;
//   height: 100%;
//   width: 100%;
// }
.header__form__container_data__heading {
  font-size: 5rem;
  font-weight: bold;
  color: #cccccc;
  text-align: center;
  margin-top: 1em;
}
.header__form__container_data__emoji {
  width: 100%;
  // border: 1px solid red;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.header__form__container_data__emoji img {
  height: 100%;
  opacity: 0.25;
}

// -----------------History------------------
#history__container__one__wrapper {
  // border: 2px solid orangered;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#history__container__one__img {
  height: 100%;
  width: 100%;
}
#history__container__one__img img {
  height: 617px;
  width: 100%;
}
.history__contaier__one__tabs__container {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  color: white;
  background: linear-gradient(180deg, #ffd0aa, #fea258);
  // padding: 1em;
  border-radius: 40px;
  margin-bottom: 6em;
}
.history__contaier__one__tabs__container__tabs {
  width: 36%;
  text-align: center;
  height: 100%;
  padding: 1em;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.history__contaier__one__tabs__container__tabs:hover {
  background: white;
  color: black;
}
.history__contaier__one__tabs__container__tabs__active {
  background: white;
  color: black;
  width: 50%;
}

#history__contianer__two {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  // border: 2px dashed rgb(0, 0, 0);
}
.history__contaier__one__tabs__content__container {
  height: 100%;
  width: 100%;
  padding: 2em 0;
}
.history__contaier__one__tabs__content__container__content {
  // border: 2px dashed blue;
  height: 100%;
  width: 100%;
  display: none;
  transition: all 0.3s ease-in-out;
}
.history__contaier__one__tabs__content__container__content__active {
  display: block;
}
.history__contaier__one__tabs__content__container__content__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  // border: 2px dashed rgb(0, 255, 0);
  align-content: flex-start;
}
.history__contaier__one__tabs__content__container__content__cards__card {
  background-color: #f6f6f6;
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em;
  color: #707070;
  border-radius: 10px;
  margin: 0 1em 1em 0em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.history__contaier__one__tabs__content__container__content__cards__card__top {
  display: flex;
  justify-content: space-between;
}
.history__contaier__one__tabs__content__container__content__cards__card__bottom {
  display: flex;
  justify-content: space-between;
}
.history__contaier__one__tabs__content__container__content__cards__card__bottom
  span {
  word-break: break-all;
}

.history__contaier__one__tabs__content__container__content__cards__card span {
  margin-left: 0.5em;
  font-weight: 500;
  color: black;
}
.history__container__one__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.history__nsi {
  color: rgba(128, 128, 128, 0.5);
  font-size: 100px;
  font-weight: bold;
  min-height: 350px;
  line-height: 300px;
}
// ----------------------fir page------------------------

#fir__container__one__img {
  width: 100%;
  height: 615px;
}
#fir__container__one__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#fir__container__two {
  height: fit-content;
  min-height: 550px;
  width: 100%;
}

.disabled-link {
  pointer-events: none;
  background-color: gray !important;
}

.swal2-confirm {
  background-color: $primary;
}

.home__blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7em 0em;
}
.home__blog__heading {
  font-size: 2.5rem;

  margin-bottom: 1.5em;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  padding: 0em 2em;
}
.home__blog__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1366px;
  padding: 0em 2em;
  flex-wrap: wrap;
}
.home__blog__content__entry {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  padding: 0em;
  border: none;
  cursor: pointer;
  margin-bottom: 2em;
}
.home__blog__content__entry__img {
  width: 100%;
  height: 100%;
}
.home__blog__content__entry__content {
  position: absolute;
  bottom: 0em;
  left: 0px;
  height: 50%;
  width: 100%;
  background: linear-gradient(transparent, rgb(36, 36, 36, 0.5), #000000);
  display: flex;
  justify-content: flex-end;
  padding: 2.5em;
  flex-direction: column;
}
.home__blog__content__entry__content__reverse {
  height: 100%;
}
.home__blog__content__entry__content__heading {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: left;
  line-height: 150%;
}
.home__blog__content__entry__content__info {
  display: none;
  color: white;
  text-align: left;
  margin-top: 0.5em;
}
.home__blog__content__entry:hover .home__blog__content__entry__content {
  transition: all 300ms;
  background: linear-gradient(transparent, $primary-hover);
}
.home__blog__content__entry:hover
  .home__blog__content__entry__content__reverse {
  transition: all 300ms;
  background: linear-gradient(
    transparent,
    rgba(46, 204, 130, 0.5),
    $primary-hover
  );
}
.home__blog__content__entry:hover .home__blog__content__entry__content__info {
  transition: all 300ms;
  display: flex;
}

.blog__details__banner {
  width: 100%;
  max-width: 1920px;
  height: 550px;
  overflow: hidden;
  margin: 0em auto;
  position: relative;
}
.blog__details__banner__img {
  width: 100%;
  min-height: 100%;
  max-height: 150%;
}
.blog__details__banner__overlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 70%;
  background: linear-gradient(transparent, $primary);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3em;
}
.blog__details__banner__overlay__heading {
  font-size: 45px;
  margin-bottom: 0.5em;
  color: white;
  text-align: center;
  width: 100%;
  max-width: 1000px;
}
.blog__details__banner__overlay__info {
  font-size: 20px;
  color: white;
  text-align: center;
}
.blog__details__content {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 1366px;
  padding: 2em;
  text-align: left;
  margin: 4em auto;
  ul {
    margin: 1em;
    margin-left: 4em;
  }
  p {
    margin: 1em 0;
  }
  li {
    margin: 0.5em 0em;
  }
}
.blog__details__content a {
  color: $primary;
}
// .blog__details__content * {
//   word-break: break-all;
// }
.header__content__menu {
  width: 38px;
  height: 38px;
  background-color: $primary;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0em;
  display: none;
  align-items: center;
  justify-content: center;
}
.header__content__menu:hover {
  background-color: $primary-hover;
}
.header__content__cta {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content__cta__button {
  height: 38px;
  padding: 0em 2em;
  background-color: $primary;
  border: none;
  border-radius: 5px;
  margin-left: 1em;
  display: flex;
  align-items: center;
  color: white !important;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 300ms ease-in-out;
}
.header__content__cta__button:hover {
  transition: 300ms ease-in-out;
  background-color: $primary-hover;
}
@media (max-width: 1100px) {
  .user__landing__container__two__content__main__card {
    flex-direction: column;
    align-items: center;
  }
  .user__landing__container__two__content__main__card__right {
    width: 100%;

    padding: 0.5em 2em;
  }
}
@media (max-width: 900px) {
  .user__landing__header__wrapper__links {
    flex-direction: column;
    position: absolute;
    top: 6em;
    left: 0px;
    background-color: $black;
    width: 100%;
    padding: 0em 2em;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 1.5em;
    animation: header__content__nav__animation 300ms both;
    transform-origin: top;
  }
  @keyframes header__content__nav__animation {
    from {
      transform: scaleY(0);
    }
    to {
      transform: scaleY(1);
    }
  }
  .header__content__menu {
    display: flex;
  }
  .user__landing__header__wrapper__signin {
    width: 100%;
    justify-content: flex-end;
    margin-right: 1em;
  }
}
